.userCnt {
    padding: 10px;
    display: flex;
    justify-content: end;
    margin-bottom: 15px;
}

.userCnt p {
    color: var(--subHeadColor);
    position: fixed;
    z-index: 10;
}

.green {
    color: #18f86a;
}

.chatPage {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
}

/* .messages {
    scroll-behavior: smooth;
    position: absolute;
    bottom: 0;
    margin-bottom: 60px;
    z-index: -1;
}


.messageBoxHolder {
    position: absolute;
    padding-bottom: 10px;
    bottom: 0;
    width: 100%;
    background-color: black;
} */

.messageBox {
    display: flex;
    gap: 5px;
    position: sticky;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    bottom: 0;
    background-color: black;
}

.messageBox input {
    color: white;
    border: 1px white dotted;
    background-color: black;
    padding: 6px;
    margin-top: 6px;
    width: 100%;
}

.messageBox button {
    border: 1px white dotted;
    background-color: black;
    padding: 6px;
    margin-top: 6px;
    width: 20%;
}
