.pageContainer {
    padding: 20px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.whyHeading {
    margin-bottom: 0.8rem;
}

li {
    margin-top: 0.2rem;
    color: var(--subHeadColor);
    list-style: none;
}

img {
    padding: 20px;
    margin-top: 10px;
    width: 500px;
}

.whyLink {
    display: flex;
    align-items: center;
    justify-content: center;
}

.link {
    color: #18f86a;
}